<app-header></app-header>
<div class="main">
    <img src="../../../assets/order.png" class="center">
    <p class="text">hurray!!!your order is confirmned the order id is #123456 save order id 
        or further commumication</p>
        <!-- <table mat-table>

           
          
           
            <ng-container matColumnDef="email us">
              <th mat-header-cell *matHeaderCellDef>email us</th>
              <td mat-cell *matCellDef="let element">admin@bokstore.com</td>
            </ng-container>
          
            
            <ng-container matColumnDef="contact us">
              <th mat-header-cell *matHeaderCellDef>contact us</th>
              <td mat-cell *matCellDef="let element">91 8712334477</td>
            </ng-container>
          
            
            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef>address</th>
              <td mat-cell *matCellDef="let element">42,14main,15th cross sector 4 oppsite kumarakom 
                  resturant,Banglore,Karnataka
              </td>
            </ng-container>
        </table> -->
        <table style="width:70%" class="table">
            <tr style="height:50px">
              <th>email us</th>
              <th>contact us</th>
              <th>address</th>
            </tr>
            <tr style="height: 50px;">
              <td>admin@bookstore.com</td>
              <td>91 8712334477</td>
              <td>
                42,14th main,14th cross road opposite kumarakom
                resturant,Banglore,Karnataka
              </td>
            </tr>
        </table>
</div>
